@model ContractorSwap.Models.ApplicationModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contractor.State)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contractor.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
