@model IEnumerable<ContractorSwap.Models.ApplicationModel>

@{
    ViewData["Title"] = "JobToIndex";
}

<div class="row justify-content-center">
    <div class="col-md-8 text-center mt-4 mb-4 detailsTitle">
        <h1 class="detailsTitleText">Incoming Applications</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card w-100 m-4 cardDisplayStyle">
<table class="table applicationTable overflow-scroll">
    <thead>
        <tr class="applicationTableHeaderText">
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th>
                Accept Bid
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Job Name
            </th>
            <th>
                Job Poster
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tableBodyText">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bid)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-display">Accept</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobListing.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobListing.Contractor.Name)
            </td>
            <td>
                <div class="p-1">
                <a asp-controller="JobListing" asp-action="MyDetails" asp-route-id="@item.JobListingId" class="btn btn-display">Job Details</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
